<main class=" mt-1 pb-20 bg-main-white ">
    <!-- Carousel -->
    <div id="default-carousel" class="relative w-[85%] mx-auto pt-10 z-0" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative overflow-hidden rounded-lg md:h-[400px] lg:h-[500px] h-[250px] ">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out bg-center rounded-lg h-full bg-[#c1b3f8]" data-carousel-item
                id="banner_1">

                <img src="/Images/Meta_banner.png" alt="" class="w-full h-full rounded-lg ">
                <a href="/user/product/678a65ab46d59cde3b298175"
                    class="absolute lg:bottom-22 lg:right-[18%] md:bottom-[18%] md:right-[22%] md:px-4 right-[16%] bottom-[18%] py-1 px-5 text-[6px] bg-gray-900 text-main-white lg:py-2 lg:px-12 rounded-lg lg:text-xs hover:bg-gray-800">
                    Buy Now
                </a>



            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out bg-center rounded-lg h-full" data-carousel-item id="banner_3">
                <img src="/Images/Banner_3.jpg" alt="" class="w-full h-full bg-cover  rounded-lg ">

                <a href="/user/product/678a6fe097c59b8dc11c6cc1"
                    class="absolute lg:bottom-22 lg:right-[28%] lg:py-3 lg:px-16 md:bottom-[16%] md:py-3 md:right-[24%] md:px-8 right-[29%] sm:right-[22%] bottom-[16%] py-1 px-5 text-[6px] bg-main-white text-black rounded-lg lg:text-xs hover:bg-gray-200">
                    Buy Now
                </a>
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
        </div>
        <!-- Slider controls -->
        <button type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>


    <!-- Categories -->
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 font-inter pl-20 pb-5 mt-20 ">Categories to explore</h2>
    <div class="w-[90%] mx-auto mb-10 p-6 mt-3 bg-white rounded-xl shadow-sm">
        <div class="flex flex-wrap justify-between">

            <!-- Card 1 -->
            <a href="/user/products/Wearable Devices?selectedcategories%5B%5D=Wearable+Devices"
                class="card bg-base-100 w-1/2 sm:w-[48%] md:w-1/5 bg-transparent rounded-lg relative group overflow-hidden">
                <% if (offeredCategories && offeredCategories['Wearable Devices']) { %>
                    <div
                        class="absolute z-[50]  top-6 right-2 bg-red-500 text-white py-1 px-4 rounded-l-full transform translate-x-2 group-hover:translate-x-0 transition-transform duration-300 shadow-lg">
                        <span class="text-sm font-bold">UPTO <%=offeredCategories['Wearable Devices']%>% EXTRA OFF</span>
                    </div>
                    <% } %>

                        <img src="/Images/Wearables_category.png" alt="Wearables"
                            class="rounded-lg object-cover w-full h-auto transform group-hover:scale-105 transition-transform duration-300" />
            </a>

            <!-- Card 2 -->
            <a href="/user/products/Smart Home Devices?selectedcategories%5B%5D=Smart+Home+Devices"
                class="card bg-base-100 w-1/2 sm:w-[48%] md:w-1/5 bg-transparent rounded-lg relative group overflow-hidden">
                <% if (offeredCategories && offeredCategories['Smart Home Devices']) { %>
                    <div
                        class="absolute z-[50]  top-6 right-2 bg-red-500 text-white py-1 px-4 rounded-l-full transform translate-x-2 group-hover:translate-x-0 transition-transform duration-300 shadow-lg">
                        <span class="text-sm font-bold">UPTO <%=offeredCategories['Smart Home Devices']%>% EXTRA OFF</span>
                    </div>
                    <% } %>
                <img src="/Images/smartHome_category.png" alt="Smart Home"
                    class="rounded-lg object-cover w-full h-auto transform group-hover:scale-105 transition-transform duration-300" />
            </a>

            <!-- Card 3 -->
            <a href="/user/products/Accessories?selectedcategories%5B%5D=Accessories"
                class="card bg-base-100 w-1/2 sm:w-[48%] md:w-1/5 bg-transparent rounded-lg relative group overflow-hidden">
                <% if (offeredCategories && offeredCategories['Accessories']) { %>
                    <div
                        class="absolute z-[50]  top-6 right-2 bg-red-500 text-white py-1 px-4 rounded-l-full transform translate-x-2 group-hover:translate-x-0 transition-transform duration-300 shadow-lg">
                        <span class="text-sm font-bold">UPTO <%=offeredCategories['Accessories']%>% EXTRA OFF</span>
                    </div>
                    <% } %>
                <img src="/Images/Accesories_category.png" alt="Accessories"
                    class="rounded-lg object-cover w-full h-auto transform group-hover:scale-105 transition-transform duration-300" />
            </a>

            <!-- Card 4 -->
            <a href="/user/products/Entertainment & Gaming?selectedcategories%5B%5D=Entertainment+%26+Gaming"
                class="card bg-base-100 w-1/2 md:w-1/3 lg:w-1/3 bg-transparent rounded-lg relative group overflow-hidden">
                <% if (offeredCategories && offeredCategories['Entertainment & Gaming']) { %>
                    <div
                        class="absolute z-[50]  top-6 right-2 bg-yellow-300 text-white py-1 px-4 rounded-l-full transform translate-x-2 group-hover:translate-x-0 transition-transform duration-300 shadow-lg">
                        <span class="text-sm font-bold">UPTO <%=offeredCategories['Entertainment & Gaming']%>% EXTRA OFF</span>
                    </div>
                    <% } %>
                <picture>
                    <source srcset="/Images/entertainment_category_small.png" media="(max-width: 764px)">
                    <img src="/Images/entertainment_category.png" alt="Entertainment"
                        class="rounded-lg object-cover w-full sm:h-full sm:object-cover md:object-contain transform group-hover:scale-105 transition-transform duration-300" />
                </picture>
            </a>
        </div>
    </div>

    <div class="container w-[90%]  mx-auto px-4 py-8 pt-10 font-inter">
        <!-- filtered products -->
        <div class="flex space-x-6 text-sm font-medium text-gray-500 border-b border-gray-300 pb-2">
            <a href="#" class="text-button-color border-button-color border-b-2 pb-1">New Arrival</a>
            <a href="#" class="hover:text-button-color">Bestseller</a>
            <a href="#" class="hover:text-button-color">Most Reviewed</a>
        </div>

        <!-- Product grid -->
        <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
            <% if (products && products.length> 0 ) { %>
                <% products.forEach((product, index)=> { %>
                    <!-- card -->
                    <div
                        class="relative flex w-full max-w-xs flex-col overflow-hidden rounded-xl border border-gray-100 bg-white shadow-md h-[400px]">
                        <a class="relative mx-3 mt-3 flex h-52 overflow-hidden rounded-xl pt-4"
                            href="/user/product/<%= product._id %>">
                            <img class="max-h-50 w-[80%] mx-auto object-contain lazyload" src="<%= product.images[0] %>"
                                alt="product image" />
                            <!-- Regular Discount Label -->
                            <span
                                class="absolute top-0 left-0 m-2 rounded-full bg-yellow-300 px-2 text-center text-sm font-medium text-white">
                                <%= product.discount %> % OFF
                            </span>
                            <!-- Special Discount Label - Show if special discount exists -->
                            <% if (product.hasCategoryOffer) { %>
                                <div
                                    class="absolute bottom-0 left-0 right-0 bg-red-500 text-white py-1 px-3 text-center transform rotate-0">
                                    <span class="text-sm font-semibold ">Special offer for <%=product.category%></span>
                                    <span class="block text-xs font-medium">Extra <%=
                                            product.effectiveDiscount-product.discount%>% OFF</span>
                                </div>
                                <% } %>
                        </a>
                        <% if(isLoggedIn) { %>
                            <button
                                class="wishlist-btn absolute top-4 right-4 rounded-full p-3 shadow-md bg-white flex mx-auto transition-colors duration-200 <%- product.isWishlisted ? 'text-red-500' : 'text-gray-600' %>"
                                data-product-id="<%= product._id %>" data-is-wishlisted="<%= product.isWishlisted %>"
                                onclick="toggleWishlist(this)">
                                <i
                                    class="<%- product.isWishlisted ? 'fa-solid' : 'fa-regular' %> fa-heart h-6 w-6 heart-icon"></i>
                            </button>
                            <% }else{ %>
                                <button class="absolute top-4 right-4 bg-white rounded-full p-2 shadow-md"
                                    onclick="redirectToLogin()">
                                    <img src="/Icons/Wishlist.svg" class="opacity-20"></a>
                                </button>
                                <% } %>

                                    <div class="mt-4 px-5 pb-5">
                                        <a href="/user/product/<%= product._id %>">
                                            <h5
                                                class="text-sm md:text-md font-medium tracking-tight text-slate-900 h-10 overflow-hidden">
                                                <%= product.productName %>
                                            </h5>
                                        </a>
                                        <div class="mt-2 mb-5 flex items-center justify-between">
                                            <p>
                                                <span class="text-sm lg:text-lg md:text-lg font-bold text-slate-900">₹
                                                    <%= product.discountedPrice.toLocaleString("en-IN") %>
                                                </span>
                                                <span
                                                    class="text-xs lg:text-sm md:text-sm text-gray-600 line-through ml-2">₹
                                                    <%= product.price.toLocaleString("en-IN") %>
                                                </span>
                                            </p>
                                            <div
                                                class="mr-2 ml-3 rounded bg-purple-200 px-2.5 py-0.5 text-sm font-semibold flex">
                                                <span>
                                                    <svg aria-hidden="true" class="h-5 w-5 text-black" fill="Current"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                        </path>
                                                    </svg>
                                                </span>
                                                5.0
                                            </div>
                                        </div>
                                        <div class="button-container">
                                            <% if(product.totalStock<1) { %>
                                                <button disabled
                                                    class="w-full flex items-center justify-center rounded-md bg-gray-300 px-5 py-2.5 text-center text-sm font-medium text-gray-600 cursor-not-allowed">
                                                    Out of Stock
                                                </button>
                                                <% } else if(isLoggedIn) { %>
                                                    <% if(product.inCart) { %>
                                                        <a href="/user/cart"
                                                            class="w-full flex items-center justify-center rounded-md bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-4 focus:ring-indigo-300">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6"
                                                                fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                                stroke-width="2">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                            </svg>
                                                            Go to Cart
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24"
                                                                style="fill: rgba(255, 255, 255, 1)">
                                                                <path
                                                                    d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z">
                                                                </path>
                                                                <path
                                                                    d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <% } else { %>
                                                            <div>
                                                                <button data-product_id="<%= product._id %>"
                                                                    onclick="addToCart(this)"
                                                                    class="w-full flex items-center justify-center rounded-md bg-button-color px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        class="mr-2 h-6 w-6" fill="none"
                                                                        viewBox="0 0 24 24" stroke="currentColor"
                                                                        stroke-width="2">
                                                                        <path stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                    </svg>
                                                                    Add to Cart
                                                                </button>
                                                            </div>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <button onclick="redirectToLogin()"
                                                                        title="⚠️ Please log in to add items"
                                                                        class="w-full flex items-center justify-center rounded-md bg-button-color px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            class="mr-2 h-6 w-6" fill="none"
                                                                            viewBox="0 0 24 24" stroke="currentColor"
                                                                            stroke-width="2">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                        </svg>
                                                                        Add to Cart
                                                                    </button>
                                                                    <% } %>
                                        </div>
                                    </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <h1>No products available</h1>
                            <% } %>
        </div>

        <div class="w-full text-center mt-10">
            <button type="button"
                class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">Show
                more</button>
        </div>

    </div>
    <!-- discount Banner -->
    <section class="bg- px-4  antialiased ">

        <div
            class="mx-auto grid max-w-screen-xl rounded-2xl bg-[#4cbadf] p-4 md:p-8 lg:grid-cols-12 lg:gap-8 lg:p-16 xl:gap-16">
            <div class="  absolute"><img src="/Images/discount.png" class=" pb-3"></div>
            <div class="lg:col-span-5 lg:mt-0 ">
                <a href="#">
                    <img class="mb-4 h-56 w-56 sm:h-96 sm:w-96 md:h-full md:w-full "
                        src="/Images/SMart Home/WINBOT W2 PRO OMNI - ECOVACS Website/033333_5461-13.jpg.webp"
                        alt="peripherals" />


                </a>

            </div>
            <div class="me-auto place-self-center lg:col-span-7 discount_banner">

                <h1
                    class="mb-3 text-xl lg:text-6xl md:text-4xl sm:text-3xl font-extrabold leading-tight tracking-tight text-white dark:text-white  font-inter">
                    Save 40% OFF on your purchase <br />
                    of a new Roborock S8 Max.
                </h1>
                <p class="mb-6  text-main-white font-extralight">Combining advanced 3D structured light and an RGB
                    camera,
                    the S8 MaxV Ultra effortlessly Identifles floor and room types very easily.</p>
                <a href="/user/product/678a73a597c59b8dc11c6e0c"
                    class="inline-flex items-center justify-center rounded-lg bg-white px-5 py-3 text-center text-base font-medium text-blue-500 hover:bg-main-white focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Order Now </a>
            </div>
        </div>
    </section>

    <!--  offer proucts -->
    <h2 class="text-2xl font-inter font-bold  text-gray-900sm:text-2xl mt-20 pl-20 ">Exclusive Offers
    </h2>


    <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4 pt-10 mx-auto w-[90%] pb-14">

        <!-- card -->
        <% let limit=4; %> <!--to control maximum of 4 cards -->
            <% if (products && products.length> 0) { %>
                <% products.filter(product=> product.hasCategoryOffer || product.effectiveDiscount >= 15)
                    .sort((a, b) => b.hasCategoryOffer - a.hasCategoryOffer || b.effectiveDiscount -
                    a.effectiveDiscount)
                    .slice(0, limit)
                    .forEach((product, index) => { %>
                    <!-- card -->
                    <div
                        class="relative  flex w-full max-w-xs flex-col overflow-hidden rounded-xl border border-gray-100 bg-white shadow-md h-[400px]">
                        <a class="relative mx-3 mt-3 flex h-52 overflow-hidden rounded-xl pt-4"
                            href="/user/product/<%= product._id %>">
                            <img class="max-h-50 w-[80%] mx-auto object-contain" src="<%= product.images[0] %>"
                                alt="product image" />
                            <!-- Regular Discount Label -->
                            <span
                                class="absolute top-0 left-0 m-2 rounded-full bg-yellow-300 px-2 text-center text-sm font-medium text-white">
                                <%= product.discount %> % OFF
                            </span>
                            <!-- Special Discount Label -->
                            <% if (product.hasCategoryOffer) { %>
                                <div
                                    class="absolute bottom-0 left-0 right-0 bg-red-500 text-white py-1 px-3 text-center transform rotate-0">
                                    <span class="text-sm font-semibold ">Special offer for <%=product.category%></span>
                                    <span class="block text-xs font-medium">Extra <%=
                                            product.effectiveDiscount-product.discount%>% OFF</span>
                                </div>
                                <% } %>
                        </a>
                        <% if(isLoggedIn) { %>
                            <button
                                class="wishlist-btn absolute top-4 right-4 rounded-full p-3 shadow-md bg-white flex mx-auto transition-colors duration-200 <%- product.isWishlisted ? 'text-red-500' : 'text-gray-600' %>"
                                data-product-id="<%= product._id %>" data-is-wishlisted="<%= product.isWishlisted %>"
                                onclick="toggleWishlist(this)">
                                <i
                                    class="<%- product.isWishlisted ? 'fa-solid' : 'fa-regular' %> fa-heart h-6 w-6 heart-icon"></i>
                            </button>
                            <% }else{ %>
                                <button class="absolute top-4 right-4 bg-white rounded-full p-2 shadow-md"
                                    onclick="redirectToLogin()">
                                    <img src="/Icons/Wishlist.svg" class="opacity-20"></a>
                                </button>
                                <% } %>
                                    <div class="mt-4 px-5 pb-5 ">
                                        <a href="/user/product/<%= product._id %>">
                                            <h5
                                                class="text-sm md:text-md font-medium tracking-tight text-slate-900 h-10 overflow-hidden">
                                                <%= product.productName %>
                                            </h5>
                                        </a>
                                        <div class="mt-2 mb-5 flex items-center justify-between">
                                            <p>
                                                <span class="text-xl font-bold text-slate-900">₹<%=
                                                        product.discountedPrice.toLocaleString("en-IN") %>
                                                </span>
                                                <span class="text-sm text-gray-600 line-through ml-2">₹ <%=
                                                        product.price.toLocaleString("en-IN") %></span>
                                            </p>
                                            <!-- Rating -->

                                            <div
                                                class="mr-2 ml-3 rounded bg-purple-200 px-2.5 py-0.5 text-sm font-semibold flex">
                                                <span><svg aria-hidden="true" class="h-5 w-5 text-black" fill="Current"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                        </path>
                                                    </svg></span>5.0
                                            </div>

                                        </div>
                                        <div class="button-container">
                                            <% if(product.totalStock<1) { %>
                                                <button disabled
                                                    class="w-full flex items-center justify-center rounded-md bg-gray-300 px-5 py-2.5 text-center text-sm font-medium text-gray-600 cursor-not-allowed">
                                                    Out of Stock
                                                </button>
                                                <% } else if(isLoggedIn) { %>
                                                    <% if(product.inCart) { %>
                                                        <a href="/user/cart"
                                                            class="w-full flex items-center justify-center rounded-md bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-4 focus:ring-indigo-300">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6"
                                                                fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                                stroke-width="2">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                            </svg>
                                                            Go to Cart
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24"
                                                                style="fill: rgba(255, 255, 255, 1)">
                                                                <path
                                                                    d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z">
                                                                </path>
                                                                <path
                                                                    d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <% } else { %>
                                                            <div>
                                                                <button data-product_id="<%= product._id %>"
                                                                    onclick="addToCart(this)"
                                                                    class="w-full flex items-center justify-center rounded-md bg-button-color px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        class="mr-2 h-6 w-6" fill="none"
                                                                        viewBox="0 0 24 24" stroke="currentColor"
                                                                        stroke-width="2">
                                                                        <path stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                    </svg>
                                                                    Add to Cart
                                                                </button>
                                                            </div>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <button onclick="redirectToLogin()"
                                                                        title="⚠️ Please log in to add items"
                                                                        class="w-full flex items-center justify-center rounded-md bg-button-color px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            class="mr-2 h-6 w-6" fill="none"
                                                                            viewBox="0 0 24 24" stroke="currentColor"
                                                                            stroke-width="2">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                        </svg>
                                                                        Add to Cart
                                                                    </button>
                                                                    <% } %>
                                        </div>
                                    </div>
                    </div>

                    <% }) %>
                        <% } %>

    </div>


    <!-- services -->

    <div class="flex justify-center items-center gap-5 py-5 px-2 mx-auto flex-wrap md:flex-nowrap ">
        <!-- Free & Fast Delivery -->
        <div class="flex flex-col items-center w-[30%] sm:w-[25%] md:w-[20%]">
            <div class="rounded-full w-12 h-12 md:w-16 md:h-16 flex justify-center items-center">
                <img src="/Icons/Services_delivery.svg" alt="">
            </div>
            <h3 class="mt-2 md:mt-4 text-sm md:text-lg font-bold text-gray-900 text-center">Free & Fast Delivery
            </h3>
            <p class="text-center text-gray-600 text-xs md:text-sm">Free delivery on order over ₹499.</p>
        </div>

        <!-- 24/7 Support -->
        <div class="flex flex-col items-center w-[30%] sm:w-[25%] md:w-[20%]">
            <div class="rounded-full w-12 h-12 md:w-16 md:h-16 flex justify-center items-center">
                <img src="/Icons/Services_customer_service.svg" alt="">
            </div>
            <h3 class="mt-2 md:mt-4 text-sm md:text-lg font-bold text-gray-900 text-center">24/7 Support</h3>
            <p class="text-center text-gray-600 text-xs md:text-sm">We are here to assist you at any time, day or
                night.</p>
        </div>

        <!-- Secure Payments -->
        <div class="flex flex-col items-center w-[30%] sm:w-[25%] md:w-[20%]">
            <div class="rounded-full w-12 h-12 md:w-16 md:h-16 flex justify-center items-center">
                <img src="/Icons/Services_policy.svg" alt="">
            </div>
            <h3 class="mt-2 md:mt-4 text-sm md:text-lg font-bold text-gray-900 text-center">Secure Payments</h3>
            <p class="text-center text-gray-600 text-xs md:text-sm">Experience worry-free transactions with our
                secure systems.</p>
        </div>
    </div>

</main>

<script>

</script>