<body id="product_details">

    <main class="bg-main-white p-6 ">

        <!-- breadcrumb -->

        <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8 pl-4 pr-20 pt-6">
            <div>
                <nav class="flex" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <a href="/user/home"
                                class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
                                <svg class="me-2.5 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                                </svg>
                                Home
                            </a>
                        </li>

                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="h-5 w-5 text-gray-400 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m9 5 7 7-7 7" />
                                </svg>
                                <a href="/user/products/<%= encodeURIComponent(product.category) %>?selectedcategories%5B%5D=<%= encodeURIComponent(product.category) %>"
                                    class="ms-1 text-sm font-medium text-gray-700 dark:text-gray-400 md:ms-2">
                                    <%=product.category %>
                                </a>
                            </div>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="h-5 w-5 text-gray-400 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m9 5 7 7-7 7" />
                                </svg>
                                <span class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400 md:ms-2">
                                    <%=product.productName %>
                                </span>
                            </div>
                        </li>
                    </ol>
                </nav>

            </div>

        </div>

        <!-- product details -->

        <div class="bg-main-white ">
            <div class="container mx-auto px-4 py-8 ">

                <div class="flex flex-wrap -mx-4  rounded-lg  ">

                    <!-- Product Images -->

                    <% if (product.images.length> 0) { %>
                        <div class="w-full  md:w-1/2 px-4 mb-8  relative">
                        
                            <% if(isLoggedIn) { %>
                                <button
                                    class="wishlist-btn absolute top-4 right-10 rounded-full p-3 shadow-md bg-white flex mx-auto transition-colors duration-200 <%- product.isWishlisted ? 'text-red-500' : 'text-gray-600' %>"
                                        data-product-id="<%= product._id %>" data-is-wishlisted="<%= product.isWishlisted %>"
                                        onclick="toggleWishlist(this)">
                                    <i
                                        class="<%- product.isWishlisted ? 'fa-solid' : 'fa-regular' %> fa-heart h-8 w-8 font-light heart-icon"></i>
                                </button>
                                <% }else{ %>
                                    <button class="absolute top-4 right-4 bg-white rounded-full p-2 shadow-md"
                                        onclick="redirectToLogin()">
                                        <img src="/Icons/Wishlist.svg" class="opacity-20"></a>
                                    </button>
                                    <% } %>

                            <div class="overflow-hidden rounded-lg shadow-md ">
                                <img src="<%= product.images[0] %>" alt="Product" data-zoom="<%= product.images[0] %>"
                                    class="mainImageContainer cursor-zoom-in w-full h-auto max-w-full max-h-[500px] mx-auto object-contain rounded-lg shadow-md p-10"
                                    id="mainImage">

                            </div>
                            <p class="text-gray-500 text-center ">Roll over image to zoom in</p>

                            <!-- Thumbnails for Changing Main Image -->
                            <div class="flex gap-4 py-4 justify-center overflow-x-auto rounded-lg shadow-sm">
                                <% product.images.forEach((image, index)=> { %>
                                    <img src="<%= product.images[index] %>" alt="Thumbnail"
                                        class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                                        onclick="changeImage('<%= product.images[index] %>')">
                                    <% }) %>
                            </div>
                        </div>

                        <% } %>


                            <!-- Product Details -->
                            <div class="w-full md:w-1/2 px-4">
                                <!-- image zoom preview container -->
                                <div
                                    class="zoom-container  absolute pl-6 z-50 bg-white shadow-md w-[30%] h-[450px] hidden">
                                </div>
                                <h2 class="text-3xl font-bold mb-2">
                                    <%=product.productName %>
                                </h2>
                                <div class="mb-4">
                                    <div class="flex ">
                                        <!-- ratings -->
                                        <div class="flex items-center mb-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="size-6 text-yellow-400">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="size-6 text-yellow-400">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="size-6 text-yellow-400">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="size-6 text-yellow-400">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="size-6 text-yellow-400">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <span class="ml-2 text-gray-600">4.5 (120 reviews)</span>
                                        </div>
                                         <!-- Find first available variant const  -->
                                        <%   firstAvailableVariant=product.variants.find(variant=>
                                            variant.status === 'active' && variant.stock > 0
                                            ) || product.variants.find(variant => variant.status === 'active') || null;

                                            // Determine if product is completely out of stock
                                            const isProductOutOfStock = !firstAvailableVariant ||
                                            product.variants.every(variant => variant.status !== 'active' ||
                                            variant.stock === 0); %>
                                            <!-- stock -->
                                            <div class="ml-4 font-inter text-md font-medium" id="stock">
                                                <% if (firstAvailableVariant.stock < 5 && firstAvailableVariant.stock>
                                                    0) { %>
                                                    <span class="text-orange-400 border-l-2 border-gray-500 pl-2">Only
                                                        few left, Hurry up!</span>
                                                    <% } else if (firstAvailableVariant.stock < 1) { %>
                                                        <span class="text-red-500 border-l-2 border-gray-500 pl-2">Out
                                                            of Stock</span>
                                                        <% } else { %>
                                                            <span
                                                                class="text-green-500 border-l-2 border-gray-500 pl-2">In
                                                                Stock</span>
                                                            <% } %>
                                            </div>
                                    </div>
                                    <span class="text-2xl font-bold mr-2" id="finalPrice">
                                        <%= Math.floor((product.price+firstAvailableVariant.additionalPrice) * (1 -
                                            product.discount/100)).toLocaleString('en-IN', {style:'currency',
                                            currency:'INR'}) %>
                                    </span>
                                    <span class="text-gray-500 line-through" id="variantPrice">₹<%=(product.price +
                                            firstAvailableVariant.additionalPrice).toLocaleString("en-IN") %></span>

                                <div class="flex items-center mt-2">
                                        <!-- Existing discount -->
                                        <span class=" font-semibold text-lg <%=hasAdditionalDiscount ? 'text-red-500' : 'text-indigo-600' %> ">
                                            <%= product.discount %>% off
                                        </span>
                                        
                                        <!-- Special offer badge -->
                                        <% if (hasAdditionalDiscount) { %>
                                            <div class="ml-4 inline-flex items-center">
                                                <span class="bg-red-100 text-red-600 px-3 py-1 rounded-full text-sm font-bold flex items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                                                    </svg>
                                                    Special Deal for <%= product.category %>
                                                </span>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>

                                <p class="text-gray-700 description-clamp">
                                    <%= product.description %>
                                </p>

                                <a href="#productDescription" id="showMoreBtn"
                                    class="text-blue-500 hover:text-blue-700 text-md ">Know more</a>


                                <!-- variants -->

                                <!-- Color variants -->

                                <div class="mb-6 mt-10 justify-start">
                                    <% if (product.totalStock){ %>
                                        <h3 class="text-lg font-semibold mb-2">Color:</h3>
                                        <div class="flex flex-wrap gap-6">
                                            <% colors.forEach((color, index)=> { %>
                                                <div class="flex flex-col items-center gap-2 ">
                                                    <button data-color="<%- color.color %>" class="variant-colors  w-8 h-8  rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600 ring-1  
                                                    transition-all 
                                                    'ring-2 ring-purple-600 ring-offset-2 "style="<%=`background-color:${color.colorCode}`%>">
                                                    </button>
                                                    <div class="text-sm text-gray-700"><%- color.color %></div>
                                                </div>
                                                <% }) %>
                                        </div>
                                        <% } %>
                                </div>
                                <!-- storage -->

                                <div class="block w-full mb-10">
                                    <% if(storages && storages.length> 0) {%>
                                        <p class="font-medium text-lg leading-8 text-gray-900 mb-4">Size</p>
                                        <div class="grid grid-cols-2 min-[400px]:grid-cols-4 gap-3">
                                            <% // find the first in-stock variant
                                                firstInStockIndex=storages.findIndex(storage=> storage.stock > 0);
                                                storages.forEach((storage, index) => {
                                                %>
                                                <label class="relative">
                                                    <input type="radio" name="storage" <%=storage.stock===0 ? 'disabled'
                                                        : '' %>
                                                    value="<%= storage.storage + storage.storageUnit %>"
                                                        class="peer sr-only"
                                                        <%= index===firstInStockIndex ? 'checked' : '' %>
                                                            data-price="<%= storage.additionalPrice %>"
                                                                data-stock="<%= storage.stock %>"
                                                                    data-discount="<%= product.discount %>"
                                                                        data-ogPrice="<%= product.price %>">

                                                                            <p class="peer-checked:text-gray-900 peer-checked:border-black peer-checked:bg-gray-50
                                                         text-gray-400 rounded-lg border border-gray-400 px-6 py-2 
                                                         font-normal font-inter cursor-pointer transition-all">
                                                                                <%= storage.storage %>
                                                                                    <%= storage.storageUnit %>
                                                                                        <span class="block text-sm">
                                                                                            <%=Math.floor(((product.price
                                                                                                +
                                                                                                storage.additionalPrice)
                                                                                                * (1 - product.discount
                                                                                                /
                                                                                                100))).toLocaleString('en-IN',{style:'currency',currency:'INR'})
                                                                                                %>
                                                                                        </span>
                                                                            </p>

                                                                            <% if (storage.stock < 5 && storage.stock>
                                                                                0) { %>
                                                                                <span
                                                                                    class="absolute -top-4 right-0 text-xs text-orange-500 pt-6 p-2">Only
                                                                                    Few Left!</span>
                                                                                <% } else if(storage.stock===0) { %>
                                                                                    <span
                                                                                        class="absolute -top-2 right-0 text-xs text-red-400 pt-4 p-2">Out
                                                                                        of Stock</span>
                                                                                    <% } %>
                                                </label>
                                                <% }) %>
                                        </div>
                                </div>

                                <% } %>

                                    <% if(product.totalStock) { %>
                                        <div class="grid grid-cols-2 space-x-4 mb-6 mt-10">
                                            <div>
                                                <% if(isLoggedIn) { %>
                                                    <% if(product.inCart) { %>
                                                        <!-- Go to Cart Button when product is in cart -->
                                                        
                                                        <a href="/user/cart"
                                                            class="group py-3 px-5 border border-indigo-600 rounded-lg bg-indigo-50 text-indigo-700 font-semibold text-lg w-full flex items-center justify-center gap-2 shadow-sm shadow-transparent transition-all duration-500 hover:shadow-indigo-300 hover:bg-indigo-100">
                                                            <svg class="stroke-indigo-600 transition-all duration-500 group-hover:stroke-indigo-700"
                                                                width="22" height="22" viewBox="0 0 22 22" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10.7394 17.875C10.7394 18.6344 10.1062 19.25 9.32511 19.25C8.54402 19.25 7.91083 18.6344 7.91083 17.875M16.3965 17.875C16.3965 18.6344 15.7633 19.25 14.9823 19.25C14.2012 19.25 13.568 18.6344 13.568 17.875M4.1394 5.5L5.46568 12.5908C5.73339 14.0221 5.86724 14.7377 6.37649 15.1605C6.88573 15.5833 7.61377 15.5833 9.06984 15.5833H15.2379C16.6941 15.5833 17.4222 15.5833 17.9314 15.1605C18.4407 14.7376 18.5745 14.0219 18.8421 12.5906L19.3564 9.84059C19.7324 7.82973 19.9203 6.8243 19.3705 6.16215C18.8207 5.5 17.7979 5.5 15.7522 5.5H4.1394ZM4.1394 5.5L3.66797 2.75"
                                                                    stroke="" stroke-width="1.6"
                                                                    stroke-linecap="round" />
                                                            </svg>
                                                            Go to Cart

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                height="32" viewBox="0 0 24 24"
                                                                style="fill:currentColor">
                                                                <path
                                                                    d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z">
                                                                </path>
                                                                <path
                                                                    d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <% } else { %>

                                                            <button data-product_id="<%= product._id %>"
                                                                class="addToCart group py-4 px-5 border border-button-color rounded-lg bg-indigo-50 text-secondry-button font-semibold text-lg w-full flex items-center justify-center gap-2 shadow-sm shadow-transparent transition-all duration-500 hover:shadow-indigo-300 hover:bg-indigo-100">
                                                                <svg class="stroke-indigo-600 transition-all duration-500 group-hover:stroke-indigo-600"
                                                                    width="22" height="22" viewBox="0 0 22 22"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M10.7394 17.875C10.7394 18.6344 10.1062 19.25 9.32511 19.25C8.54402 19.25 7.91083 18.6344 7.91083 17.875M16.3965 17.875C16.3965 18.6344 15.7633 19.25 14.9823 19.25C14.2012 19.25 13.568 18.6344 13.568 17.875M4.1394 5.5L5.46568 12.5908C5.73339 14.0221 5.86724 14.7377 6.37649 15.1605C6.88573 15.5833 7.61377 15.5833 9.06984 15.5833H15.2379C16.6941 15.5833 17.4222 15.5833 17.9314 15.1605C18.4407 14.7376 18.5745 14.0219 18.8421 12.5906L19.3564 9.84059C19.7324 7.82973 19.9203 6.8243 19.3705 6.16215C18.8207 5.5 17.7979 5.5 15.7522 5.5H4.1394ZM4.1394 5.5L3.66797 2.75"
                                                                        stroke="" stroke-width="1.6"
                                                                        stroke-linecap="round" />
                                                                </svg>
                                                                Add to Cart
                                                            </button>
                                                            <% } %>

                                                                <% } else { %>

                                                                    <button onclick="redirectToLogin()"
                                                                        title="⚠️ Please log in to add items"
                                                                        class="group py-4 px-5 border border-button-color rounded-lg bg-indigo-50 text-secondry-button font-semibold text-lg w-full flex items-center justify-center gap-2 shadow-sm shadow-transparent transition-all duration-500 hover:shadow-indigo-300 hover:bg-indigo-100">
                                                                        <svg class="stroke-indigo-600 transition-all duration-500 group-hover:stroke-indigo-600"
                                                                            width="22" height="22" viewBox="0 0 22 22"
                                                                            fill="none"
                                                                            xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                d="M10.7394 17.875C10.7394 18.6344 10.1062 19.25 9.32511 19.25C8.54402 19.25 7.91083 18.6344 7.91083 17.875M16.3965 17.875C16.3965 18.6344 15.7633 19.25 14.9823 19.25C14.2012 19.25 13.568 18.6344 13.568 17.875M4.1394 5.5L5.46568 12.5908C5.73339 14.0221 5.86724 14.7377 6.37649 15.1605C6.88573 15.5833 7.61377 15.5833 9.06984 15.5833H15.2379C16.6941 15.5833 17.4222 15.5833 17.9314 15.1605C18.4407 14.7376 18.5745 14.0219 18.8421 12.5906L19.3564 9.84059C19.7324 7.82973 19.9203 6.8243 19.3705 6.16215C18.8207 5.5 17.7979 5.5 15.7522 5.5H4.1394ZM4.1394 5.5L3.66797 2.75"
                                                                                stroke="" stroke-width="1.6"
                                                                                stroke-linecap="round" />
                                                                        </svg>
                                                                        Add to Cart
                                                                    </button>
                                                                    <% } %>

                                            </div>
                                            <button
                                                class="text-center w-full mx-auto px-5 py-4 rounded-lg   bg-button-color flex items-center justify-center font-semibold text-lg text-white shadow-sm transition-all duration-500 hover:bg-indigo-700 hover:shadow-indigo-400">
                                                <img src="/Icons/flash.svg" alt="" class="w-6 h-6 mr-1">
                                                Buy Now
                                            </button>
                                        </div>
                                        <% }else { %>
                                            <div class="flex gap-6 mb-10">
                                                <button disabled
                                                    class="text-center w-1/2 mx-auto px-5 py-4  border-2 border-red-400 rounded-lg bg-red-50 flex items-center justify-center font-semibold text-lg text-red-500 cursor-not-allowed">
                                                    Out of Stock
                                                </button>
                                                <button
                                                    class="text-center w-1/2 mx-auto px-5 py-4 rounded-lg  border-2 bg-indigo-50 border-indigo-400 flex items-center justify-center font-semibold text-lg text-indigo-700 shadow-sm transition-all duration-500 hover:bg-indigo-100 hover:shadow-indigo-100">
                                                    <img src="/Icons/notification.svg" alt="" class="w-10 h-6 mr-1">
                                                    Notify Me
                                                </button>
                                            </div>
                                            <% } %>

                                                <!-- warranty and other details -->
                                                <div class=" grid grid-cols-3 items-center gap-6 mx-auto w-full p-6 ">

                                                    <div class="grow h-14 rounded-lg  justify-center gap-4 flex  ">
                                                        <div
                                                            class="p-4 bg-indigo-200 rounded-[11px] flex-col justify-start items-center gap-2 inline-flex overflow-hidden">
                                                            <div class="w-6 h-6 relative  overflow-hidden">
                                                                <img class="w-6 h-6 relative  overflow-hidden"
                                                                    src="/Icons/delivery.svg" alt="Delivery" />
                                                            </div>
                                                        </div>
                                                        <div class="w-full">
                                                            <span
                                                                class="text-neutral-500 text-sm font-medium font-['Inter']">
                                                                <% if (product.price>498) { %> Eligible for free
                                                                    delivery <% } else { %>
                                                                        Delivery
                                                                        Charges
                                                                        Applicable <% } %>
                                                            </span>

                                                        </div>
                                                    </div>



                                                    <div class="grow  h-14 rounded-lg  justify-center gap-4 flex ">

                                                        <div
                                                            class="w-[183px] h-[55px] rounded-lg justify-start items-center gap-4 flex ">
                                                            <div
                                                                class="p-4 bg-indigo-200 rounded-[11px] justify-start items-center gap-2 flex overflow-hidden">
                                                                <div class="w-6 h-6 relative  overflow-hidden">
                                                                    <img class="w-6 h-6 relative  overflow-hidden"
                                                                        src="/Icons/return.svg" alt="return" />
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <span
                                                                    class="text-neutral-500 text-sm font-medium font-['Inter'] leading-normal">Return
                                                                    Policy<br></span>

                                                                <% if (product.returnPeriod>0) { %>
                                                                    <span
                                                                        class="text-black text-sm font-medium font-['Inter']">
                                                                        <%= product.returnPeriod %> days
                                                                    </span>
                                                                    <% } else { %>
                                                                        <span class="font-medium ">No return
                                                                            Policy</span>
                                                                        <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="w-[183px] h-[55px] rounded-lg justify-start items-center gap-4 flex">
                                                        <div
                                                            class="p-4 bg-indigo-200 rounded-[11px] justify-start items-center gap-2 flex overflow-hidden">
                                                            <div class="w-6 h-6 relative  overflow-hidden">
                                                                <img class="w-6 h-6 relative  overflow-hidden"
                                                                    src="/Icons/warranty.svg" alt="waaranty" />
                                                            </div>
                                                        </div>
                                                        <div><span
                                                                class="text-neutral-500 text-sm font-medium font-['Inter'] leading-normal">Warranty<br /></span>
                                                            <% if (product.warranty>0) { %>
                                                                <span
                                                                    class="text-black text-sm font-medium font-['Inter'] leading-normal">
                                                                    <%= product.warranty %> Months <% } else { %>
                                                                            No Warranty
                                                                            <% } %>
                                                                </span>
                                                        </div>

                                                    </div>
                                                </div>
                            </div>
                </div>
            </div>
        </div>
        </div>

        <!-- product description -->
        <section class="w-full mt-10 flex">

            <div
                class="px-10 mt-10 py-12 p-10 w-[90%] mx-auto justify-center bg-white rounded-xl flex-col items-center gap-8 inline-flex">
                <div class="self-stretch text-black text-2xl font-medium font-['Inter'] leading-loose"
                    id="productDescription">Description</div>
                <div class="self-stretch text-neutral-400 text-sm font-medium font-['Inter'] leading-normal">
                    <%= product.description %>
                </div>
                <div class="self-stretch h-[572px] flex-col justify-start items-start gap-10 flex">
                    <div class="self-stretch h-[448px] flex-col justify-start items-start gap-4 flex">
                        <div class="self-stretch text-black text-xl font-medium font-['Inter'] leading-normal">
                            Specifications</div>
                        <div class="self-stretch h-[408px] flex-col justify-start items-start gap-6 flex">
                            <div
                                class="self-stretch pb-2 border-b border-stone-300 justify-between items-end inline-flex ">
                                <div class="text-black text-base font-normal font-['Inter'] leading-normal">Brand</div>
                                <div class="text-black text-[15px] font-normal font-['Inter'] leading-normal">
                                    <%= product.brand %>
                                </div>
                            </div>
                            <div
                                class="self-stretch pb-2 border-b border-stone-300 justify-between items-end inline-flex">
                                <div class="text-black text-base font-normal font-['Inter'] leading-normal">Model</div>
                                <div class="text-black text-[15px] font-normal font-['Inter'] leading-normal">
                                    <%= product.model %>
                                </div>
                            </div>

                            <div
                                class="self-stretch pb-2 border-b border-stone-300 justify-between items-start inline-flex">
                                <div class="text-black text-base font-normal font-['Inter'] leading-normal">Platform
                                </div>
                                <div class="text-black text-[15px] font-normal font-['Inter'] leading-normal">
                                    <%= product.platform %>
                                </div>
                            </div>

                            <div
                                class="self-stretch pb-2 border-b border-stone-300 justify-between items-start inline-flex">
                                <div class="text-black text-base font-normal font-['Inter'] leading-normal">Additionally
                                </div>
                                <div
                                    class="text-right text-black text-[15px] font-normal font-['Inter'] leading-normal max-w-72 break-words ">
                                    <%= product.additional%>
                                </div>
                            </div>
                        </div>

                        <div class="self-stretch text-black text-xl font-medium font-['Inter'] leading-normal pt-6">
                            Other Details</div>
                        <div class="self-stretch h-[408px] flex-col justify-start items-start gap-6 flex">
                            <div
                                class="self-stretch pb-2 border-b border-stone-300 justify-between items-end inline-flex ">
                                <div class="text-black text-base font-normal font-['Inter'] leading-normal">Warranty
                                </div>
                                <div class="text-black text-[15px] font-normal font-['Inter'] leading-normal">
                                    <%= product.warranty %> months
                                </div>
                            </div>
                            <div
                                class="self-stretch pb-2 border-b border-stone-300 justify-between items-end inline-flex">
                                <div class="text-black text-base font-normal font-['Inter'] leading-normal">Return
                                    Policy</div>
                                <div class="text-black text-[15px] font-normal font-['Inter'] leading-normal">
                                    <% if (product.returnPeriod>0) { %>
                                        <%= product.returnPeriod %> days
                                            <% } else { %>
                                                No return allowed
                                                <% } %>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
        </section>


        <!-- relateed products -->

        <h2 class="text-2xl font-inter font-bold  text-gray-900sm:text-2xl mt-20 pl-20 ">Related Products
        </h2>
        <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4 pt-10 mx-auto w-[90%] pb-14">

            <% relatedProducts.forEach(product=> { %>
                <!-- card -->
                <div
                                            class="relative flex w-full max-w-xs flex-col overflow-hidden rounded-xl border border-gray-100 bg-white shadow-md h-[400px]">
                                            <a class="relative mx-3 mt-3 flex h-52 overflow-hidden rounded-xl "
                                                href="/user/product/<%= product._id %>">
                                                <img class="max-h-50 w-[80%] mx-auto object-contain lazyload"
                                                    src="<%= product.images[0] %>" alt="product image" />

                                                    <!-- Regular Discount Label -->
                                                <span class="absolute top-0 left-0 m-2 rounded-full bg-yellow-300 px-2 text-center text-sm font-medium text-white">
                                                    <%= product.discount %> % OFF
                                                </span>
                                                   <!-- Special Discount Label - Show if special discount exists -->
                                                   <% if (product.hasCategoryOffer) { %>
                                                    <div class="absolute bottom-0 left-0 right-0 bg-red-500 text-white py-1 px-3 text-center transform rotate-0">
                                                        <span class="text-sm font-semibold ">Special offer for <%=product.category%></span>
                                                            <span class="block text-xs font-medium">Extra <%= product.effectiveDiscount-product.discount%>% OFF</span>  
                                                    </div>
                                                <% } %>
                                            </a>
                                            <% if(isLoggedIn) { %>
                                                <button
                                                    class="wishlist-btn absolute top-4 right-4 rounded-full p-3 shadow-md bg-white flex mx-auto transition-colors duration-200 <%- product.isWishlisted ? 'text-red-500' : 'text-gray-600' %>"
                                                    data-product-id="<%= product._id %>" data-is-wishlisted="<%= product.isWishlisted %>"
                                                    onclick="toggleWishlist(this)">
                                                    <i
                                                        class="<%- product.isWishlisted ? 'fa-solid' : 'fa-regular' %> fa-heart h-6 w-6 heart-icon"></i>
                                                </button>
                                                <% }else{ %>
                                                    <button class="absolute top-4 right-4 bg-white rounded-full p-2 shadow-md"
                                                        onclick="redirectToLogin()">
                                                        <img src="/Icons/Wishlist.svg" class="opacity-20"></a>
                                                    </button>
                                                    <% } %>
                                            <div class="mt-4 px-5 pb-5">
                                                <a href="/user/product/<%= product._id %>">
                                                    <h5
                                                        class="text-sm md:text-md font-medium tracking-tight text-slate-900 h-10 overflow-hidden">
                                                        <%= product.productName %>
                                                    </h5>
                                                </a>
                                                <div class="mt-2 mb-5 flex items-center justify-between">
                                                    <p>
                                                        <span
                                                            class="text-sm lg:text-lg md:text-md font-bold text-slate-900">₹
                                                            <%= product.discountedPrice.toLocaleString("en-IN") %>
                                                        </span>
                                                        <span
                                                            class="text-xs lg:text-xs md:text-xs text-gray-600 line-through ml-2">
                                                            ₹<%= product.price.toLocaleString("en-IN") %>
                                                        </span>
                                                    </p>
                                                    <div
                                                        class="mr-2 ml-3 rounded bg-purple-200 px-2.5 py-0.5 text-sm font-semibold flex">
                                                        <span>
                                                            <svg aria-hidden="true" class="h-5 w-5 text-black"
                                                                fill="Current" viewBox="0 0 20 20"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                        5.0
                                                    </div>
                                                </div>
                                                <div class="button-container">
                                                    <% if(product.totalStock<1) { %>
                                                        <button disabled
                                                            class="w-full flex items-center justify-center rounded-md bg-gray-300 px-5 py-2.5 text-center text-sm font-medium text-gray-600 cursor-not-allowed">
                                                            Out of Stock
                                                        </button>
                                                        <% } else if(isLoggedIn) { %>
                                                            <% if(product.inCart) { %>
                                                                <a href="/user/cart"
                                                                    class="w-full flex items-center justify-center rounded-md bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-4 focus:ring-indigo-300">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        class="mr-2 h-6 w-6" fill="none"
                                                                        viewBox="0 0 24 24" stroke="currentColor"
                                                                        stroke-width="2">
                                                                        <path stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                    </svg>
                                                                    Go to Cart
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24"
                                                                        style="fill: rgba(255, 255, 255, 1)">
                                                                        <path
                                                                            d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z">
                                                                        </path>
                                                                        <path
                                                                            d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z">
                                                                        </path>
                                                                    </svg>
                                                                </a>
                                                                <% } else { %>
                                                                    <button data-product_id="<%= product._id %>"
                                                                        onclick="addToCart(this)"
                                                                        class="w-full flex items-center justify-center rounded-md bg-button-color px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            class="mr-2 h-6 w-6" fill="none"
                                                                            viewBox="0 0 24 24" stroke="currentColor"
                                                                            stroke-width="2">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                        </svg>
                                                                        Add to Cart
                                                                    </button>

                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <button onclick="redirectToLogin()"
                                                                                title="⚠️ Please log in to add items"
                                                                                class="w-full flex items-center justify-center rounded-md bg-button-color px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    class="mr-2 h-6 w-6" fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    stroke="currentColor"
                                                                                    stroke-width="2">
                                                                                    <path stroke-linecap="round"
                                                                                        stroke-linejoin="round"
                                                                                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                                                                </svg>
                                                                                Add to Cart
                                                                            </button>
                                                                            <% } %>

                                                </div>
                                            </div>
                                        </div>

                <% }) %>
        </div>

        <!-- user reviews -->
        <section class="bg-white  mx-auto rounded-lg">
            <div class="py-24 relative">
                <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
                    <div class="w-full">
                        <h2 class="font-manrope font-bold text-4xl text-black mb-8 text-center">Our
                            customer reviews
                        </h2>
                        <div
                            class="grid grid-cols-1 xl:grid-cols-2 gap-11 pb-11 border-b border-gray-100 max-xl:max-w-2xl max-xl:mx-auto">
                            <div class="box flex flex-col gap-y-4 w-full ">
                                <div class="flex items-center w-full">
                                    <p class="font-medium text-lg text-black mr-0.5">5</p>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_12042_8589)">
                                            <path
                                                d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                                                fill="#FBBF24" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_12042_8589">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="h-2 w-full sm:min-w-[278px] rounded-3xl bg-purple-100 ml-5 mr-3">
                                        <span class="h-full w-[30%] rounded-3xl bg-amber-400 flex"></span>
                                    </p>
                                    <p class="font-medium text-lg  text-black mr-0.5">989</p>
                                </div>
                                <div class="flex items-center w-full">
                                    <p class="font-medium text-lg text-black mr-0.5">4</p>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_12042_8589)">
                                            <path
                                                d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                                                fill="#FBBF24" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_12042_8589">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="h-2 w-full xl:min-w-[278px] rounded-3xl bg-purple-100 ml-5 mr-3">
                                        <span class="h-full w-[40%] rounded-3xl bg-amber-400 flex"></span>
                                    </p>
                                    <p class="font-medium text-lg text-black mr-0.5">4.5K</p>
                                </div>
                                <div class="flex items-center">
                                    <p class="font-medium text-lg text-black mr-0.5">3</p>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_12042_8589)">
                                            <path
                                                d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                                                fill="#FBBF24" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_12042_8589">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="h-2 w-full xl:min-w-[278px] rounded-3xl bg-purple-100 ml-5 mr-3">
                                        <span class="h-full w-[20%] rounded-3xl bg-amber-400 flex"></span>
                                    </p>
                                    <p class="font-medium text-lg text-black mr-0.5">50</p>
                                </div>
                                <div class="flex items-center">
                                    <p class="font-medium text-lg text-black mr-0.5">2</p>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_12042_8589)">
                                            <path
                                                d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                                                fill="#FBBF24" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_12042_8589">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="h-2 w-full xl:min-w-[278px] rounded-3xl bg-purple-100 ml-5 mr-3">
                                        <span class="h-full w-[16%] rounded-3xl bg-amber-400 flex"></span>
                                    </p>
                                    <p class="font-medium text-lg text-black mr-0.5">16</p>
                                </div>
                                <div class="flex items-center">
                                    <p class="font-medium text-lg text-black mr-0.5">1</p>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_12042_8589)">
                                            <path
                                                d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                                                fill="#FBBF24" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_12042_8589">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <p class="h-2 w-full xl:min-w-[278px] rounded-3xl bg-purple-100 ml-5 mr-3">
                                        <span class="h-full w-[8%] rounded-3xl bg-amber-400 flex"></span>
                                    </p>
                                    <p class="font-medium text-lg py-[1px] text-black mr-0.5">8</p>
                                </div>
                            </div>
                            <div class="p-4 bg-purple-50 rounded-3xl flex items-center justify-center flex-col">
                                <div class="flex gap-3">
                                    <h2 class="font-manrope font-bold text-5xl text-button-color mb-6">
                                        4.3</h2> <span> <svg xmlns="http://www.w3.org/2000/svg" width="44" height="52"
                                            viewBox="0 0 44 44" fill="#0000">
                                            <g clip-path="url(#clip0_13624_2608)">
                                                <path
                                                    d="M21.1033 2.9166C21.4701 2.17335 22.5299 2.17335 22.8967 2.9166L28.233 13.729C28.3786 14.0241 28.6602 14.2287 28.9859 14.276L40.9181 16.0099C41.7383 16.1291 42.0658 17.137 41.4723 17.7156L32.8381 26.1318C32.6024 26.3616 32.4949 26.6926 32.5505 27.017L34.5888 38.9009C34.7289 39.7178 33.8714 40.3408 33.1378 39.9551L22.4653 34.3443C22.174 34.1911 21.826 34.1911 21.5347 34.3443L10.8622 39.9551C10.1286 40.3408 9.27114 39.7178 9.41125 38.9009L11.4495 27.017C11.5051 26.6926 11.3976 26.3616 11.1619 26.1318L2.52771 17.7156C1.93419 17.137 2.2617 16.1291 3.08192 16.0099L15.0141 14.276C15.3398 14.2287 15.6214 14.0241 15.767 13.729L21.1033 2.9166Z"
                                                    fill="#FBBF24" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_13624_2608">
                                                    <rect width="44" height="44" fill="black" />
                                                </clipPath>
                                            </defs>
                                        </svg></span>
                                </div>

                                <p class="font-medium text-xl leading-8 text-gray-900 text-center">
                                    46 Ratings</p>
                            </div>
                        </div>

                        <div class="pt-11 pb-8 border-b border-gray-100 max-xl:max-w-2xl max-xl:mx-auto">
                            <div class="flex items-center gap-3 mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h3 class="font-manrope font-semibold text-xl sm:text-2xl leading-9 text-but mb-6">
                                Outstanding Experience!!!
                            </h3>
                            <div class="flex sm:items-center flex-col min-[400px]:flex-row justify-between gap-5 mb-4">
                                <div class="flex items-center gap-3">
                                    <img src="/Images/user default profile.jpg" alt="John image"
                                        class="w-8 h-8 rounded-full object-cover">
                                    <h6 class="font-semibold text-md leading-8 text-button-color ">
                                        John Doe</h6>
                                </div>
                                <p class="font-normal text-lg leading-8 text-gray-400">Nov 03, 2024
                                </p>
                            </div>
                            <p class="font-normal text-lg leading-8 text-gray-400 max-xl:text-justify">
                                One of the
                                standout features of Pagedone is its intuitive and user-friendly
                                interface. Navigating
                                through the system feels natural, and the layout makes it easy to
                                locate and utilize
                                various design elements. This is particularly beneficial for
                                designers looking to
                                streamline their workflow.</p>
                        </div>
                        <div class="pt-8 max-xl:max-w-2xl max-xl:mx-auto">
                            <div class="flex items-center gap-3 mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none">
                                    <g clip-path="url(#clip0_13624_2892)">
                                        <path
                                            d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                                            fill="#FBBF24" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_13624_2892">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h3 class="font-manrope font-semibold text-xl sm:text-2xl leading-9 text-black mb-6">
                                Pagedone's design system seamlessly bridges the gap between
                                designers and developers!
                            </h3>
                            <div class="flex sm:items-center flex-col min-[400px]:flex-row justify-between gap-5 mb-4">
                                <div class="flex items-center gap-3">
                                    <img src="/Images/user default profile.jpg" alt="Robert image"
                                        class="w-8 h-8 rounded-full object-cover">
                                    <h6 class="font-semibold text-lg leading-8 text-button-color">
                                        Robert</h6>
                                </div>
                                <p class="font-normal text-lg leading-8 text-gray-400">Dec 05, 2024
                                </p>
                            </div>
                            <p class="font-normal text-lg leading-8 text-gray-400 max-xl:text-justify">
                                Pagedone doesn't
                                disappoint when it comes to the variety and richness of its design
                                components. From
                                pre-built templates to customizable elements, the system caters to
                                both beginners and
                                seasoned designers. The extensive library ensures a diverse range of
                                options to bring
                                creative visions to life.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- services -->

        <div class="flex justify-center items-center gap-5 py-5 px-2 mx-auto flex-wrap md:flex-nowrap pt-10">
            <!-- Free & Fast Delivery -->
            <div class="flex flex-col items-center w-[30%] sm:w-[25%] md:w-[20%]">
                <div class="rounded-full w-12 h-12 md:w-16 md:h-16 flex justify-center items-center">
                    <img src="/Icons/Services_delivery.svg" alt="">
                </div>
                <h3 class="mt-2 md:mt-4 text-sm md:text-lg font-bold text-gray-900 text-center">Free & Fast Delivery
                </h3>
                <p class="text-center text-gray-600 text-xs md:text-sm">Free delivery on order over ₹499.</p>
            </div>

            <!-- 24/7 Support -->
            <div class="flex flex-col items-center w-[30%] sm:w-[25%] md:w-[20%]">
                <div class="rounded-full w-12 h-12 md:w-16 md:h-16 flex justify-center items-center">
                    <img src="/Icons/Services_customer_service.svg" alt="">
                </div>
                <h3 class="mt-2 md:mt-4 text-sm md:text-lg font-bold text-gray-900 text-center">24/7 Support</h3>
                <p class="text-center text-gray-600 text-xs md:text-sm">We are here to assist you at any time, day or
                    night.</p>
            </div>

            <!-- Secure Payments -->
            <div class="flex flex-col items-center w-[30%] sm:w-[25%] md:w-[20%]">
                <div class="rounded-full w-12 h-12 md:w-16 md:h-16 flex justify-center items-center">
                    <img src="/Icons/Services_policy.svg" alt="">
                </div>
                <h3 class="mt-2 md:mt-4 text-sm md:text-lg font-bold text-gray-900 text-center">Secure Payments</h3>
                <p class="text-center text-gray-600 text-xs md:text-sm">Experience worry-free transactions with our
                    secure systems.</p>
            </div>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/drift-zoom/dist/Drift.min.js"></script>
    <script src="/js/product_script_user.js"></script>
</body>